<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.planktonsprite.app</string>
    <key>CFBundleName</key>
    <string>PlanktonSpriteApp</string>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeDescription</key>
            <string>Plankton Sprite Frame</string>
            <key>UTTypeIdentifier</key>
            <string>com.planktonsprite.frame</string>
        </dict>
    </array>
</dict>
</plist>
